{% extends "menu/layout.html" %}

{% block content %}

<div class="row">
    {% for menu in menus %}
        <div class="col-6">
            <div class="jumbotron">
              <h4 class="display-8">{{ menu.season }}</h1>
              {% for item in menu.items.all %}
                  <p class="lead">{{ item }}</p>
                  <hr class="my-4">
                  <p>{{ item.description }}</p>
              {% endfor %}
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
