{% extends "menu/layout.html" %}

{% block content %}

<div class="row">
    {% for menu in menus %}
        <div class="col-6">
            <div class="jumbotron">
              <h3><u>{{ menu.season }}</u></h3><br />
              {% for item in menu.items.all %}
                  <h6>{{ item }}</h6>
                  <h8>{{ item.description }}</h8><br />
                  {% for ingredient in item.ingredients.all %}
                    <ul>
                        <li>{{ ingredient }}</li>
                    </ul>
                  {% endfor %}
              <hr class="my-4">
              {% endfor %}
              <div class="row">
                  <div class='col'>
                      <a class="btn btn-primary btn-lg" href="{% url 'menu:edit' pk=menu.pk %}" role="button">EDIT</a>
                  </div>
                  <div class='col'>
                      <a class="btn btn-alert btn-lg" href="{% url 'menu:delete' pk=menu.pk %}" role="button">DELETE</a>
                  </div>
              </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
